<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.example.demo.dao.IndexDAO">
 	<insert id="insert" parameterType="java.util.Map">
 		insert into teststs(name,kor,math,eng) values(#{name},#{kor},#{math},#{eng}) 
 	</insert>
 	
 	<select id="selectList" resultType="com.example.demo.model.IndexDTO">
 		select * from teststs
 	</select>
 	
 	<delete id="delete" parameterType="String">
 		delete from teststs where seq = #{seq}
 	</delete>
 </mapper>